@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;1,700&display=swap");

$primary: #321433;
$secondary: #6c496c;
$accent: #ffe7ff;

@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin landscape-desktop {
  @media (min-width: 1280px) {
    @content;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  font-family: Poppins, sans-serif;
}
html {
  scroll-behavior: smooth;
  // scroll-padding-top: 110px;
  // @include desktop() {
  //   scroll-padding-top: 60px;
  // }
}
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

ul {
  list-style: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

#nav {
  background-color: $primary;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  @include desktop() {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  @include landscape-desktop() {
    justify-content: space-around;
  }
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0;

  @include desktop() {
    padding: 0;
  }
  .logo {
    text-align: center;

    img {
      width: 100px;
    }
  }
  .fas {
    font-size: 2rem;
    color: $accent;
  }
}

#toggle {
  &:hover {
    cursor: pointer;
  }
  @include desktop() {
    display: none;
  }
}
.links {
  display: none;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $accent;

    li {
      @include desktop() {
        padding: 0 1rem;
      }
      a {
        display: grid;
        grid-template-areas:
          "icon"
          "text";
        // place-items: center;
        row-gap: 0.4rem;
        padding: 0.5rem 0.9rem;
        font-size: 1rem;

        > i {
          grid-area: icon;
          padding: 0;
          @include desktop() {
            font-size: 1rem;
          }
        }
        small {
          display: block;
          grid-area: text;
          font-weight: 700;
          text-transform: uppercase;
        }
        &:hover {
          border-top: 2px solid $secondary;
          color: $secondary;
        }

        @include desktop() {
          grid-template-areas: "icon text";
          padding: 0.5rem 0;
          align-items: center;
          justify-content: space-between;
          column-gap: 1rem;
        }
      }
    }
  }

  @include desktop() {
    display: block;
  }
}

// todo to be added in javascript

.show-links {
  display: block;
}

.introduction {
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, $primary 80%, $secondary);
  color: $accent;
  font-weight: 700;
  // font-family: "Ubuntu Mono", monospace;
  padding: 5rem 1rem 1rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include desktop() {
    flex-direction: row;
  }
  .bg {
    img {
      margin-top: -1rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .message {
    text-align: center;

    &-text {
      strong {
        font-size: 2.4rem;
        font-weight: bold;

        @include desktop() {
          font-size: 4.4rem;
        }
      }
    }
  }
  .cta-wrapper {
    margin-top: 2rem;
    padding: 1rem 0;
    .cta {
      background-color: rgba(0, 0, 0, 0.1);
      border: 1px solid $secondary;
      padding: 1rem;
      outline: none;
      font-weight: bold;
      color: $secondary;
      border-radius: 0.4rem;
      color: $accent;
      font-size: 1.15rem;
      transition: all 300ms ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: $secondary;
      }
    }
  }
}

.about-me-section {
  background-color: $secondary;
  color: $accent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include desktop() {
    flex-direction: row;
    justify-content: space-between;
  }

  @include landscape-desktop() {
    justify-content: space-around;
  }

  .wrapper {
    padding: 4rem 2rem;

    @include desktop() {
      padding: 4rem 2rem;
    }
  }
}

.profile {
  // width: min(calc(100% - 4rem), 400px);
  width: 80vw;
  max-width: 400px;
  color: $accent;
  margin-top: 5rem;
  border-radius: 8px;
  background: linear-gradient(145deg, #614261, #744e74);
  box-shadow: 20px 20px 60px #5c3e5c, -20px -20px 60px #7c547c;
  position: relative;
}

.about-me-image {
  position: relative;
  img {
    display: block;
    margin: auto;
    height: 180px;
    object-fit: cover;

    position: absolute;
    top: -6rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &-description {
    font-size: 0.75rem;
    line-height: 1.7;
    padding: 6rem 1.5rem 1rem;

    @include desktop() {
      font-size: 1rem;
    }
  }

  &-social {
    width: 100%;
    color: $primary;
    background-color: #4e2e4e;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;

    i {
      font-size: 2rem;
      transition: all 300ms ease-in;

      &:hover {
        cursor: pointer;
        transform: translateY(-10px);
      }
    }
  }
}

.wrap {
  display: flex;
  align-items: center;

  padding: 0.5rem 0;

  > i {
    color: $primary;
    @include desktop() {
      font-size: 2rem;
    }
    margin-right: 0.6rem;
  }
}

.certifications {
  .certificate {
    display: block;
    line-height: 2;
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus-within {
      color: $primary;
    }
  }
}

.skills {
  .skills-wrap {
    margin: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    text-align: center;
  }
  .skill-item {
    display: block;

    font-size: 2rem;
    padding: 0.7rem 0.4rem;
    border-radius: 9px;
    box-shadow: 20px 20px 60px #5c3e5c, -20px -20px 60px #7c547c;
  }
}

// -projects showcase area

.project-area {
  background-color: $accent;
  color: $primary;
  padding: 2rem;

  @include desktop() {
    padding: 4rem;
  }

  h1 {
    text-align: center;
    font-size: 2.7rem;
    margin: 1.5rem 0;
  }
}

// -carousel project mobile only

.carousel {
  width: 100%;
  min-height: 700px;
  height: auto;
  margin: auto;

  position: relative;
  @include desktop() {
    display: none;
  }
}
.carousel-slides {
  margin: 0;
  padding: 0;
  height: 100%;
  color: $primary;
}

.carousel-btn {
  border: none;
  position: absolute;
  z-index: 2;
  font-size: 4rem;
  top: 35%;
  transform: translateY(-50%);
  color: $primary;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;

  .carousel-btn:hover,
  .carousel-btn:focus {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .carousel-btn:focus {
    outline: 1px solid black;
  }

  &.prev {
    left: 1rem;
  }
  &.next {
    right: 1rem;
  }
}

.carousel-slide {
  position: absolute;
  height: 100%;
  inset: 0;
  opacity: 0;

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }

  &[data-active] {
    opacity: 1;
    z-index: 1;
  }
}

.slide-content {
  display: flex;
  flex-direction: column;
}

.project-description {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include desktop() {
    background: none;
    height: auto;
    padding: 2rem 2rem;
  }

  > *:not(:first-child) {
    margin-top: 1rem;
  }

  .project-title {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 900;

    @include desktop() {
      padding: 0 1rem;
    }
  }

  .project_techUsed {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.89rem;
    text-transform: uppercase;

    > * {
      padding: 0 0.5rem;
    }
  }

  .project-source {
    width: 100%;
    font-size: 0.85rem;
    display: flex;
    justify-content: space-evenly;

    .preview-site {
      padding: 0.5rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .description-text {
    width: 100%;
    margin-top: 2rem;
    text-align: left;
    line-height: 1.3;
  }
}

.card {
  width: 100%;
  height: 300px;
}

// -projects are desktop

.projects-container {
  display: none;

  @include desktop() {
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    .project-item {
      width: 100%;
      height: auto;
      text-align: center;
      background: rgba(255, 255, 255, 0.25);

      border-radius: 10px;
      border: 1px solid $secondary;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      &-image {
        border-radius: inherit;
        img {
          border-top-left-radius: inherit;
          border-top-right-radius: inherit;
          width: 100%;
          height: 100%;

          object-fit: cover;
          object-position: center;
        }
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.036);
      }
    }
  }
}

// -contact me

.contact-information {
  background-color: $primary;
  color: $secondary;
  padding: 2rem 4rem;
  display: grid;
  place-items: center;
  font-size: 1rem;
  h1 {
    border-bottom: 2px solid $accent;
    margin-bottom: 2rem;
  }
  @include desktop() {
    font-size: 1.2rem;
  }

  .contact-type {
    margin-bottom: 1.8rem;
    display: flex;
    align-items: center;

    i {
      width: 30px;
      margin-right: 0.5rem;
      color: $accent;
    }
  }
}

// -github fixed

.github-btn {
  position: fixed;
  z-index: 99;
  bottom: 1rem;
  right: 3rem;
  background-color: rgba(0, 0, 0, 0.1);

  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transition: all 200ms linear;

  i {
    font-size: 2.7rem;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  visibility: hidden;
}

.show-github-btn {
  visibility: visible;
}
